In [2]:
# importing libraries

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.set_option("display.max_column",None)

In [3]:
data = pd.read_csv("HR Analytics Dataset.csv")
d = pd.DataFrame(data)
df = d.copy()

In [4]:
df.head(2)

,Employee_ID,Department,Gender,Age,Job_Title,Hire_Date,Years_At_Company,Education_Level,Performance_Score,Monthly_Salary,Work_Hours_Per_Week,Projects_Handled,Overtime_Hours,Sick_Days,Remote_Work_Frequency,Team_Size,Training_Hours,Promotions,Employee_Satisfaction_Score,Resigned
0,1,IT,Male,55,Specialist,2022-01-19 08:03:05.556036,2,High School,5,6750.0,33,32,22,2,0,14,66,0,2.63,False
1,2,Finance,Male,29,Developer,2024-04-18 08:03:05.556036,0,High School,5,7500.0,34,34,13,14,100,12,61,2,1.72,False

In [5]:
df.columns

Index(['Employee_ID', 'Department', 'Gender', 'Age', 'Job_Title', 'Hire_Date',
       'Years_At_Company', 'Education_Level', 'Performance_Score',
       'Monthly_Salary', 'Work_Hours_Per_Week', 'Projects_Handled',
       'Overtime_Hours', 'Sick_Days', 'Remote_Work_Frequency', 'Team_Size',
       'Training_Hours', 'Promotions', 'Employee_Satisfaction_Score',
       'Resigned'],
      dtype='object')

In [6]:
Overtime_Hours	Sick_Days

SyntaxError: invalid syntax (2797608790.py, line 1)

In [ ]:
df['Remote_Work_Frequency'].unique()

In [ ]:
df.info()

In [ ]:
df["Hire_Date"] = pd.to_datetime(df["Hire_Date"]).dt.date
df["Hire_Date"]  = pd.to_datetime(df["Hire_Date"] )

In [ ]:
cat_col = ['Employee_ID','Department', 'Gender', 'Job_Title',
        'Education_Level', 'Remote_Work_Frequency','Resigned']
for col in cat_col:
    df[col] = df[col].astype('category')

In [ ]:
df.head(2)

In [ ]:
# Let's update the Years_At_Company column based on today date
from datetime import datetime
df["Years_At_Company"] = ((datetime.now() - df["Hire_Date"]).dt.days/365).astype('int')

In [ ]:
# lets check dupliactes rows in Employee_ID column
df["Employee_ID"].duplicated().sum()

### No duplicated rows in Employee_ID column

In [ ]:
# Lets see is here any mistyped value in category columns?
category_col = ['Department', 'Gender', 'Job_Title',
        'Education_Level', 'Remote_Work_Frequency','Resigned']

plt.figure(figsize = (16,10))


for i,col in enumerate (category_col):
    plt.subplot(3,2,i+1)
    df[col].value_counts().plot(kind = "bar")


plt.tight_layout()
plt.show()

In [ ]:
# Now correctly renaming the values of Remote_Work_Frequency for better understanding

remapping_values = {0 : "Never", 25 : "Occasionally", 50 : "Half-time", 75 : "Frequently", 100 : "Fully Remote"}
df["Remote_Work_Frequency"] = df["Remote_Work_Frequency"].map(remapping_values)

In [ ]:
df.head(2)

In [ ]:
# Now we are going to check the data distribution to find out the outliers
df.info()

In [ ]:
num_col = ['Age', 'Years_At_Company', 'Performance_Score', 'Work_Hours_Per_Week',
       'Projects_Handled', 'Overtime_Hours', 'Sick_Days', 'Team_Size',
       'Training_Hours', 'Promotions']

plt.figure(figsize = (14,8))

for i,col in enumerate (num_col):
    plt.subplot(5,2,i+1)
    sns.violinplot(data = df, x = col)

plt.tight_layout()
plt.show()

### No outliers detected

In [ ]:
df.describe()

In [ ]:
# Let's check the null counts in column
df.isnull().sum()

### Zero nulls in each column

In [ ]:
df

In [ ]:
df.to_csv("HR_Analysis_cleaned.csv",index = False)